.places > div {
	display: flex;
}
.places h1 {
	font-size: 30px;
	margin-block: 2rem;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
	position: relative;
}

.places .price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.places article {
	position: relative;
}

.places .information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin-block-start: 2.5rem;
	margin-block-end: 1rem;
	display: flex;
	justify-content: space-around;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
	width: 100px;
	height: 100%;
	display: flex;
	align-items: end;
	justify-content: center;
	padding-block: 0.5rem;
}

.information .max_guest {
	background: url("../images/icon_group.png") no-repeat 50% 20%;
}

.information .number_rooms {
	background: url("../images/icon_bed.png") no-repeat 50% 20%;
}

.information .number_bathrooms {
	background: url("../images/icon_bath.png") no-repeat 50% 20%;
}

.places article .user {
	padding-block: 0.5rem;
}
.places article .description {
	line-height: 1.2rem;
	padding-block: 1rem;
}
